Workflows/PddJvHgC1zMUzs2d-Flow_API.json
{
  "name": "Flow API",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ec098d41-a6b9-4be2-b07e-c00d30609351",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://dummyjson.com/products?limit=5",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "eb1d324a-86fa-4cf7-a100-9e25b66b6f22",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9cf6ee5-c4b8-4774-9c63-d73b712c4edf",
              "name": "ID",
              "value": "={{ $json.products[0].id }}",
              "type": "number"
            },
            {
              "id": "a083b844-73b1-40de-9425-dafbd1668ed3",
              "name": "NomeProduto",
              "value": "={{ $json.products[0].title }}",
              "type": "string"
            },
            {
              "id": "41de6ca3-beb7-421d-9237-24c2d75882dc",
              "name": "Preco",
              "value": "={{ $json.products[0].price }}",
              "type": "number"
            },
            {
              "id": "41189125-b3f9-4e81-b388-e27ad6f4e97c",
              "name": "Categoria",
              "value": "={{ $json.products[0].category }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "5c40935d-7582-437f-85e7-148f1eaebdd5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1E4hp1IPou3P__A9riFS7aGD-lGhoycmoZ0h-4HZo6QM",
          "mode": "list",
          "cachedResultName": "DadosN8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E4hp1IPou3P__A9riFS7aGD-lGhoycmoZ0h-4HZo6QM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 427399954,
          "mode": "list",
          "cachedResultName": "DadosAPI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E4hp1IPou3P__A9riFS7aGD-lGhoycmoZ0h-4HZo6QM/edit#gid=427399954"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "05dfa06f-5277-4344-b8c2-c4deb678e1fa",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQGb6q9c69iruKR6",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}