Workflows/Zx6ChRYYwaZlkvb1-My_workflow_3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5b2e8d93-ae82-42d2-8bfa-a726f6c7b231",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1E4hp1IPou3P__A9riFS7aGD-lGhoycmoZ0h-4HZo6QM",
          "mode": "list",
          "cachedResultName": "DadosN8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E4hp1IPou3P__A9riFS7aGD-lGhoycmoZ0h-4HZo6QM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1938798374,
          "mode": "list",
          "cachedResultName": "VendasHistorico",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E4hp1IPou3P__A9riFS7aGD-lGhoycmoZ0h-4HZo6QM/edit#gid=1938798374"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "6f16b738-56ac-478b-8d57-9016d1a30faf",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQGb6q9c69iruKR6",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obter a data de hoje e a data de ontem\nconst hoje = new Date();\nconst ontem = new Date(hoje);\nontem.setDate(hoje.getDate() - 1);\n\n// Formatar a data de ontem para o formato YYYY-MM-DD\nconst ano = ontem.getFullYear();\nconst mes = String(ontem.getMonth() + 1).padStart(2, '0');\nconst dia = String(ontem.getDate()).padStart(2, '0');\nconst dataOntemFormatada = `${ano}-${mes}-${dia}`;\n// Filtrar as vendas de ontem\nconst vendasDeOntem = items.filter(item => {\n    // Supondo que a data da venda esteja no formato 'YYYY-MM-DD HH:mm:ss'\n    const dataVenda = new Date(item.json.Data);\n    const dataVendaFormatada = `${dataVenda.getFullYear()}-${String(dataVenda.getMonth() + 1).padStart(2, '0')}-${String(dataVenda.getDate()).padStart(2, '0')}`;\n    return dataVendaFormatada === dataOntemFormatada;\n});\n// Calcular o total das vendas de ontem\nlet totalVendas = 0;\nvendasDeOntem.forEach(item => {\n    totalVendas += parseFloat(item.json.Valor);\n});\n// Criar o corpo do e-mail em HTML\nlet emailBody = `\n<html>\n<head>\n<style>\n  table {\n    width: 100%;\n    border-collapse: collapse;\n  }\n  th, td {\n    border: 1px solid #dddddd;\n    text-align: left;\n    padding: 8px;\n  }\n  th {\n    background-color: #f2f2f2;\n  }\n</style>\n</head>\n<body>\n<h2>Relatório de Vendas - ${dataOntemFormatada}</h2>\n<table>\n  <tr>\n    <th>Produto</th>\n    <th>Valor</th>\n    <th>Data</th>\n  </tr>\n`;\n\nvendasDeOntem.forEach(item => {\n    const dataVenda = new Date(item.json.Data);\n    const dataVendaFormatada = `${dataVenda.getDate().toString().padStart(2, '0')}/${(dataVenda.getMonth() + 1).toString().padStart(2, '0')}/${dataVenda.getFullYear()}`;\n    emailBody += `\n    <tr>\n      <td>${item.json.Produto}</td>\n      <td>R$ ${parseFloat(item.json.Valor).toFixed(2)}</td>\n      <td>${dataVendaFormatada}</td>\n    </tr>\n    `;\n});\n\nemailBody += `\n</table>\n<h3>Total das Vendas: R$ ${totalVendas.toFixed(2)}</h3>\n</body>\n</html>\n`;\n\nreturn [{\n    json: {\n        bodyHTML: emailBody\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "6abe2c74-751d-4835-b2e7-379fbb299a5a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "guitomazoli@gmail.com",
        "subject": "Relatório de Vendas",
        "message": "={{ $json.bodyHTML }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "299a76ca-3e8f-4f67-96ee-288c9d1f5288",
      "name": "Send a message",
      "webhookId": "ee20a295-ada7-4a06-a174-61fec5de25aa",
      "credentials": {
        "gmailOAuth2": {
          "id": "8KSbH2wdbYjVXJy3",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}