Workflows/ZxIx3nfwvyg7lWEr-RotinaCron.json
{
  "name": "RotinaCron",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "13ca8d22-ce1e-4a33-bcf6-c844f8bd39ab",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1E4hp1IPou3P__A9riFS7aGD-lGhoycmoZ0h-4HZo6QM",
          "mode": "list",
          "cachedResultName": "DadosN8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E4hp1IPou3P__A9riFS7aGD-lGhoycmoZ0h-4HZo6QM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1769495500,
          "mode": "list",
          "cachedResultName": "DadosLimpos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E4hp1IPou3P__A9riFS7aGD-lGhoycmoZ0h-4HZo6QM/edit#gid=1769495500"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "eec0e8d6-65ff-44bd-abe4-c30e4d50270e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQGb6q9c69iruKR6",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const total = items.length;\nconst data = new Date().toLocaleString(\"pt-BR\");\nreturn [{\n    json: {\n        mensagem: `✅ ${total} registros processados em ${data} - rotina de madrugada concluída!`\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "7a8bffb6-90e4-4ef5-8a86-fa53b27e5342",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "guitomazoli@gmail.com",
        "subject": "Rotina Madrugada",
        "emailType": "text",
        "message": "={{ $json.mensagem }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "0eda8802-66a3-4978-97b2-87a9f41be81f",
      "name": "Send a message",
      "webhookId": "b3a89d8b-c5ee-4530-8ed5-2a9700bb18cc",
      "credentials": {
        "gmailOAuth2": {
          "id": "8KSbH2wdbYjVXJy3",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}